-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."RunStatus" AS ENUM ('queued', 'running', 'ready', 'failed');

-- CreateTable
CREATE TABLE "public"."Run" (
    "id" TEXT NOT NULL,
    "pageUrl" TEXT NOT NULL,
    "targetKeyword" TEXT,
    "email" TEXT,
    "status" "public"."RunStatus" NOT NULL DEFAULT 'queued',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Run_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Audit" (
    "id" TEXT NOT NULL,
    "runId" TEXT NOT NULL,
    "json" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Audit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."GscToken" (
    "id" TEXT NOT NULL,
    "state" TEXT NOT NULL,
    "tokens" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GscToken_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "GscToken_state_key" ON "public"."GscToken"("state");

-- AddForeignKey
ALTER TABLE "public"."Audit" ADD CONSTRAINT "Audit_runId_fkey" FOREIGN KEY ("runId") REFERENCES "public"."Run"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

